.logo {
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #0A1B32;
    line-height: 160%;
    letter-spacing: -0.02em;
    margin-top: 37px;
    margin-left: 80px;
    display: inline-block;
}


.logo-dot {
    color: #824FF1;
    display: inline-block;
}


section {
    display: inline-block;
} 


.menu-1 { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 98px;
    display: inline-block;
} 

.menu-2 { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 38px;
    display: inline-block;
} 

.menu-3 { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 38px;
    display: inline-block;
} 

.menu-4 { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 38px;
    display: inline-block;
} 

.menu-5 { 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 749px;
    display: inline-block;
} 

.btn-2 {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 43px;
    background-color: #824FF1;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    border: none;
    color: #FFFFFF;
    display: inline-block;
}



    /*
    .nav li {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #1B0A42;
        margin-top: 48px;
        margin-left: 273px;
    } */




.main-title {
    max-width: 500px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: "Ramaraja", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
}


.main-info {
    max-width: 590px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
}


.main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #824FF1;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    border: none;
    color: #FFFFFF;
}


img {
    max-width: 821px;
    width: 100%;
    margin-left: 10px;
}

section {
    display: inline-block;
}
